<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>ru.job4j.dream.servlet.PostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidateServlet</servlet-name>
        <servlet-class>ru.job4j.dream.servlet.CandidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>ru.job4j.dream.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotoDownloadServlet</servlet-name>
        <servlet-class>ru.job4j.dream.servlet.PhotoDownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotoUploadServlet</servlet-name>
        <servlet-class>ru.job4j.dream.servlet.PhotoUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotoDeleteServlet</servlet-name>
        <servlet-class>ru.job4j.dream.servlet.PhotoDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>ru.job4j.dream.servlet.AuthServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/posts.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidateServlet</servlet-name>
        <url-pattern>/candidates.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotoDownloadServlet</servlet-name>
        <url-pattern>/photo_download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotoUploadServlet</servlet-name>
        <url-pattern>/photo_upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotoDeleteServlet</servlet-name>
        <url-pattern>/photo_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth.do</url-pattern>
    </servlet-mapping>

</web-app>
